<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ごみ分別クイズ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="title">平泉町ごみ分別クイズ</div>
    <br>
    <div id="intro">ゲームであなたもゴミ分別の達人に！</div>
    <button class="start" onclick="startGame()">スタート</button>
    <div class="note">※ 一関地区広域行政組合ごみ分別辞典の公開データを基に作成しています ／ 公式情報は
        <a href="https://www.gomisaku.jp/0161/?lang=ja" target="_blank" rel="noopener noreferrer">サイト</a>
        をご確認ください
    </div>

    <div id="game" style="display:none;">
        <br>
        <div id="timer">残り時間: 60秒</div>
        <br>
        <div id="question"></div>
        <br>
        <div class="choices">
            <button onclick="answer('燃やすごみ')">燃やすごみ</button>
            <button onclick="answer('燃やせないごみ')">燃やせないごみ</button>
            <button onclick="answer('リサイクル')">リサイクル</button>
            <button onclick="answer('粗大ごみ')">粗大ごみ</button>
            <button onclick="answer('その他')">その他</button>
        </div>
        <div id="result" class="result"></div>
    </div>
    <p>ヒント : 「リサイクル」は、ビン、缶、容器包装プラスチック、紙類、小型家電回収など。</p>
    <p>「その他」には家電リサイクル対象品や受付できないもの、収集しないものが含まれます</p>
    <script src="/static/script.js"></script>
</body>

</html>